# Python
.venv/
__pycache__/
*.pyc

# MkDocs
site/

# Build
build/
release/

# Windows
Thumbs.db
Desktop.ini

# Office temporary files
~$*.docx
~$*.xlsx

# Editors
.vscode/
.idea/

backup-analytics-v0.1.0/
